<div ng-cloak class="report" layout="column">
    <div ng-cloak>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Reports" ng-click="usertypefilterNew('all');isAnalytics = false;">
            <md-content class="md-padding">
                <div layout="row" class="report_hedr_sec">
                    <div flex="100">
                        <div class="forum-headng">
                            <h3 class="heading-til">Activity Report</h3>    
                        </div>  
                    </div>    
                   <!-- <div flex="100" layout-align="end end">
                        <button aria-label="button" class="download_csv_btn" ng-click="activityanalyticdownload('activityreportsexportcsv')">Download</button>
                    </div>   -->
                    <button aria-label="button" class="download_csv_btn" ng-click="reportdownloadbtn()">Download</button>
                     <div class="down_list_Sec" ng-class="{'download_act': isActive_downreport}" ng-mouseleave="reportclosedownload()">
                        <ul>                                
                            <li><a href="javascript:void(0);" ng-click="activityanalyticdownload('activityreportsexportcsv')">Download CSV</a></li>                                
                        </ul>
                    </div>
                </div>    
                <div class="tableDiv res_table_width border-top-none">
                     <table-div datasource="tableData" datatable="tableData"></table-div>
                </div>
                
            </md-content>
          </md-tab>
          <md-tab label="Analytics" ng-click="getactivityAnalyticsData()" >
            <md-content class="md-padding" ng-if="isAnalytics">
                <div layout="row" class="report_hedr_sec">
                    <div flex="100">
                        <div class="forum-headng">
                            <h3 class="heading-til">Activity Analytics</h3>    
                        </div>  
                    </div>  
                    <div flex="100" layout-align="end end" layout="row">
                    <div flex="100" layout="row">
                        <div flex="100" class="dateCols" layout="row" layout-align="end end">
                            <div class="date_range_picker">
                                <input date-range-picker name="daterangeanalytics" class="form-control date-picker" placeholder="{{analyticsdaterangecustompick}}" type="text"
                                    ng-model="analyticsdaterangecustompick" options="dateoptions" readonly />
                            </div> 
                        </div>
                    </div>                         
                        
                        <div flex="100" flex-gt-sm="40" flex-gt-lg="30" layout-align="end end" layout="row" class="width-datepiker-btn">
                        <button aria-label="button" class="download_csv_btn" ng-click="downloadbtn()">Download</button>
                         <div class="down_list_Sec" ng-class="{'download_act': isActive_down}" ng-mouseleave="closedownload()">
                            <ul>
                                <li><a href="javascript:void(0);" ng-click="activityanalyticdownload('activityanalyticsexportcsv')">Download CSV</a></li>
                                <li><a href="javascript:void(0);" ng-click="export('application/pdf')">Download PDF</a></li>
                                <li><a href="javascript:void(0);" ng-click="export('image/png')">Download PNG</a></li>
                            </ul>
                        </div>
                    </div>
                        
                    </div>    
                </div> 
              <div layout="row" layout-wrap >
                <md-whiteframe class="md-whiteframe-1dp white-tile" flex-gt-lg="45">
                    <button aria-label="button" class="hvr-sweep-to-bottom more-fltr-btn download_csv_btn" ng-click="chartModal('lg','stackbar',activityAnalyse,activityAnalyse.title)">More Filter</button> 
                    <div layout-align="center center" layout="column" class="">
                        <hc-bar-stack-chart ng-if="activityAnalyse && isAnalytics"  chartdata="activityAnalyse" chartobj="saveChartObj(response)"></hc-bar-stack-chart>
                    </div>
                    <div class="filter_btns_btm">
                        <button aria-label="button" type="button" ng-click="usertypefilterNew('Registered')" ng-class="{active : activeUserType === 'Registered'}">Guest</button>
                        <button aria-label="button" type="button" ng-click="usertypefilterNew('Guest')" ng-class="{active : activeUserType === 'Guest'}">Registered</button>
                        <button aria-label="button" type="button" ng-click="usertypefilterNew('all')" ng-class="{active : activeUserType === 'all'}">All</button>
                    </div>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-1dp white-tile" flex-gt-lg="45">
                    <button aria-label="button" class="hvr-sweep-to-bottom more-fltr-btn download_csv_btn" ng-click="chartModal('lg','line',forumsDiscussions)">More Filter</button>    
                    <div  layout-align="center center" layout="column">
                        <hc-line-chart ng-if="forumsDiscussions && isAnalytics" chartdata="forumsDiscussions" chartobj="saveChartObj(response)"></hc-line-chart>
                    </div>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-1dp white-tile" flex-gt-lg="45">
                    <button aria-label="button" class="hvr-sweep-to-bottom more-fltr-btn download_csv_btn" ng-click="chartModal('lg','line',participantsForumsDiscussions)">More Filter</button>    
                    <div  layout-align="center center" layout="column">
                        <hc-line-chart  ng-if="participantsForumsDiscussions && isAnalytics" chartdata="participantsForumsDiscussions" chartobj="saveChartObj(response)"></hc-line-chart>
                    </div>
                </md-whiteframe>
            </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
</div>

