<div class="modal_alert" tabindex="-1" ng-click="closeBaner()" ng-if="data.showBaner">
    <div uib-alert dismiss-on-timeout="7000" close="closeBaner()" class="alert" ng-class="data.banerClass" ng-if="data.showBaner">
        <div class="icon_display">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                  <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                  <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
              </svg>
            <svg class="checkmark_red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                  <circle class="checkmark__circle_red" cx="26" cy="26" r="25" fill="none"/>
                  <path class="close-x checkmark__check_red" fill="none" d="M 10,10 L 30,30 M 30,10 L 10,30" />
              </svg>
        </div>
        <div class="display_message" ng-bind="data.message"></div>
    </div>
</div