<md-dialog aria-label="Asset Popup" class="Modal_wrap lg-modal videoModalWrapper">
    <!--<form ng-cloak name="createClassForm" ng-submit="addStudents(createClassForm.$valid)" novalidate>-->
		<div class="modal_alert" tabindex="-1" ng-click="closeBaner()" ng-if="alertBaner.showBaner">
			<div uib-alert dismiss-on-timeout="7000" close="closeBaner()" class="alert" ng-class="alertBaner.banerClass" ng-if="alertBaner.showBaner">
				<div class="icon_display">
					<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
										  <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
										  <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
									  </svg>
					<svg class="checkmark_red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
										  <circle class="checkmark__circle_red" cx="26" cy="26" r="25" fill="none"/>
										  <path class="close-x checkmark__check_red" fill="none" d="M 10,10 L 30,30 M 30,10 L 10,30" />
									  </svg>
				</div>
				<div class="display_message">{{alertBaner.message}}</div>
			</div>
		</div>
    <md-toolbar> 
      <div class="md-toolbar-tools">
        <span flex></span>
          <h2 style="width:100%;"><span>{{assetType}}</span></h2>
          
        <md-button class="md-icon-button" ng-click="cancelModel()">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
        </md-button>
      </div>
    </md-toolbar>
        <md-dialog-content>
        <div class="md-dialog-content assetpopup" ng-if="assetType == 'song'">  
            <button ng-click="prevSong()" ng-class="{active : prev}" ng-disabled="prev">Prev</button><button  ng-click="nextSong()" ng-class="{active : next}" ng-disabled="next">Next</button>
                <h2><b><u>{{datavalues[index].coursename}}</u></b></h2>
            <div ng-if="assetUrl != '' && assetUrl !== null">                
                <audio id="audiopopup" controls controlsList="nodownload" src="{{assetUrl | assetValid}}">
                    <!--<source ng-src="{{assetUrl | assetValid}}" type="audio/mpeg">
                    Your browser does not support the audio element.-->
                </audio>
            </div>
            <div ng-if="assetUrl == '' || assetUrl === null">
                <h2>No {{assetType}} is available</h2>
            </div>
        </div>
        <div class="md-dialog-content" ng-if="assetType == 'video'">
            <div ng-if="assetUrl != '' && assetUrl !== null">
                <iframe src="{{assetUrl | assetValid}}" width="750" height="500" allowfullscreen>
                </iframe>
            </div> 
            <div ng-if="assetUrl == '' || assetUrl === null">
                <h2>No {{assetType}} is available</h2>
            </div>
        </div>
        
        </md-dialog-content> 
    <!--</form>-->
</md-dialog>