<div ng-cloak class="report" layout="column">  
    <div ng-cloak>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Reports">
            <md-content class="md-padding">
                <div layout="row" class="report_hedr_sec">
                    <div flex="100">
                        <div class="forum-headng">
                            <h3 class="heading-til">Writing Success</h3>    
                        </div>  
                    </div>    
                   <button class="download_csv_btn" ng-click="reportdownloadbtn()">Download</button>
                     <div class="down_list_Sec" ng-class="{'download_act': isActive_downreport}" ng-mouseleave="reportclosedownload()">
                        <ul>                                
                            <li><a href="javascript:void(0);" ng-click="writingsuccessdownload('individualprogramreportsexportcsv')">Download CSV</a></li>                                
                        </ul>
                    </div>      
                </div>    
                <div layout="row" layout-wrap ng-if="writingsuccess.overall">
                    <md-whiteframe class="md-whiteframe-1dp white-tile" flex="90">
                        <div class="tile-heading">
                         <span class="frame-header">{{writingsuccess.overall.program}}</span>
                         <hr/>
                         <div layout="row" > 
                              <div layout="column" flex="30" ng-repeat="data in writingsuccess.overall.users">
                                 <div flex="2" class="tile-text">{{data.count}}</div> 
                                 <div flex="1">{{data.label}}</div> 
                             </div>   
                         </div>
                        </div>
                        </md-whiteframe>
                    
                </div>
                <div class="tableDiv res_table_width border-top-none">
                     <table-div datasource="tableData" datatable="tableData"></table-div>
                </div>
            </md-content>
          </md-tab>
          <md-tab label="Analytics" ng-click="getwritingSuccessAnalyticsData()">
               <md-content class="md-padding">
                    <div layout="row" class="report_hedr_sec">
                        <div flex="100">
                            <div class="forum-headng">
                                <h3 class="heading-til">Writing Success Analytics</h3>    
                            </div>  
                        </div>
                        <div flex="100" layout-align="end end" layout="row">
                            <div flex="100" layout="row">
                                <div flex="100" class="dateCols" layout-align="end end" layout="row"  ng-if="daterangecustompick">
                                    <div class="date_range_picker">
                                    <input date-range-picker name="daterange1" class="form-control date-picker" placeholder="{{daterangecustompick}}" type="text"
                                        ng-model="daterangecustompick" options="dateoptions" readonly />
                                </div> 
                                </div>
                            </div>  
                            <div flex="100" flex-gt-sm="40" flex-gt-lg="30" layout-align="end end" layout="row" class="width-datepiker-btn">                     

                                <button class="download_csv_btn" ng-click="downloadbtn()">Download</button>
                                 <div class="down_list_Sec" ng-class="{'download_act': isActive_down}" ng-mouseleave="closedownload()">
                                    <ul>
                                        <li><a href="javascript:void(0);" ng-click="writingsuccessdownload('individualprogramanalyticsexportcsv')">Download CSV</a></li>
                                        <li><a href="javascript:void(0);" ng-click="export('application/pdf')">Download PDF</a></li>
                                        <li><a href="javascript:void(0);" ng-click="export('image/png')">Download PNG</a></li>
                                    </ul>
                                </div>
                            </div>  
                    
                    </div> 
                    </div>
                    
              <div layout="row" layout-wrap>
                <md-whiteframe class="md-whiteframe-1dp white-tile" flex-gt-lg="45">
                    <button  class="more-fltr-btn download_csv_btn" ng-click="chartModal('lg','line',writingsuccess.number.most_visited)">More Filter</button>    
                    <div  layout-align="center center" layout="column">
                        <hc-line-chart  ng-if="writingsuccess.number.most_visited" chartdata="writingsuccess.number.most_visited"></hc-line-chart>
                    </div>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-1dp white-tile" flex-gt-lg="45">
                    <button  class="more-fltr-btn download_csv_btn" ng-click="chartModal('lg','line',writingsuccess.number.classes_at_program)">More Filter</button>    
                    <div  layout-align="center center" layout="column">
                        <hc-line-chart  ng-if="writingsuccess.number.classes_at_program" chartdata="writingsuccess.number.classes_at_program"></hc-line-chart>
                    </div>
                </md-whiteframe>                 
                <md-whiteframe class="md-whiteframe-1dp white-tile" flex-gt-lg="45">
                    <button  class="more-fltr-btn download_csv_btn" ng-click="chartModal('lg','line',writingsuccess.number.enrollment_at_program)">More Filter</button>    
                    <div  layout-align="center center" layout="column">
                        <hc-line-chart  ng-if="writingsuccess.number.enrollment_at_program" chartdata="writingsuccess.number.enrollment_at_program"></hc-line-chart>
                    </div>
                </md-whiteframe>  
                <md-whiteframe class="md-whiteframe-1dp white-tile" flex-gt-lg="45">
                    <button  class="more-fltr-btn download_csv_btn" ng-click="chartModal('lg','bar',writingsuccess.number.enrollement_based_on_textbook,writingsuccess.number.enrollement_based_on_textbook.title)">More Filter</button> 
                    <div layout-align="center center" layout="column" class="">
                        <hc-bar-chart ng-if="writingsuccess.number.enrollement_based_on_textbook"  chartdata="writingsuccess.number.enrollement_based_on_textbook"></hc-bar-chart>
                    </div>
                </md-whiteframe>  
            </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
</div>    