<div ng-cloak>
	<div class="parent_title">
    	<h3>Link Parent to the student</h3>
	</div>
	<div layout="row" class="class_edit_content edit_content" id="modalclassparent" >
	   <div class="res_table_width" style="width: 100%;">
			<table-div datasource="tableDataParentLinktoUser" datatable="datatable" crossicon = "crossicon"></table-div>
			<div class="submt-category">
				<button type="button" class="btn-cancel md-raised md-warn md-button md-ink-ripple" ng-click="parent_link_cancel(data)">Close</button> 
			</div>  
		</div> 
	</div>
</div>
