<div class="tableCls Slide_table_sec" layout="column" ng-cloak> 
    <div layout="column"> 
       <div layout="row">
            <div layout-align="space-between center" flex="60">
                <div ng-if="datasource.ismultiDel.task" class="pull-left deletebtn"> 
                       <tooltip tooltips="" tooltip-template="Delete" tooltip-side="right" class="tooltips _top _steady _multiline _ready"> 
                            <tip-cont> 
                                 <button class="btn btn-danger" ng-disabled="(checkboxenable < 2 && !headerCheck.box && !$root.appLoader)" ng-click="deleteAllrows(datasource.currentpage)"></button>
                            </tip-cont>
                       </tooltip>
                        <tooltip tooltips="" tooltip-template="Message" tooltip-side="right" class="tooltips _top _steady _multiline _ready"> 
                            <tip-cont> 
                                 <button class="btn btn-primary" ng-disabled="(checkboxenable < 2 && !headerCheck.box && !$root.appLoader)" ng-click="sendMultiMessage()"></button><!-- ng-click="deleteAllrows(datasource.currentpage)" -->
                            </tip-cont>                            
                       </tooltip>
                    </div> 
                <div class="btn-group roleList" ng-if="datasource.isFilterbtns">  
                    <md-button ng-repeat="tab in datasource.tabList" ng-class="{'active':tab.isActive}" class="tabBtn btn" type="button" ng-model="tab.name" btn-radio="tab" ng-click="filterTable(tab)" ng-init="tabName = tab.name">{{tab.name}}</md-button>
                </div>
                <ol class="breadcrumb contentBreadcrumb" ng-if="datasource.isBreadscrum">
                  <li class="breadcrumb-item" ng-repeat="breadcrumbItem in datasource.breadcrumbList track by $index">
                     <a ng-click="breadcrumbFnlink(breadcrumbItem, $index)">{{breadcrumbItem}}</a>  
                    </li>
                </ol>
            </div>
            
            <div layout-align="end start" flex="40" class="searchpagination">
                <div ng-if="datasource.isSearch">
                    <md-input-container class="md-block search-container">
                        <input ng-model="dataSearch.text" ng-keyup="$event.keyCode == 13 ? searchItems() : null" class="search-input" placeholder="Search">
                        <button  ng-click="searchItems()" class="tabl_search"><i class="fa fa-search"></i></button>
                    </md-input-container>
                </div>
            
            <div class="newpagination">
                <md-input-container>
                 <label>Show</label>
                  <md-select ng-model="pagination.itemsPerPage" aria-label="itemsPerpage" ng-selected="true" ng-change="pageChanged(1)">
                    <md-option ng-value="optn" ng-selected="optn.isSelected" ng-repeat="optn in pagination.numPages" >{{optn.value}}</md-option>
                  </md-select>
                    <label>entries</label>
                </md-input-container>
                </div>
            </div>

        </div> 
             
    
    <div layout="column">
        <div class ="table-responsive custTable">
           <table class ="table dataTable" ng-table="tableParams" ng-if="items">

              <!--<caption>Responsive Table Layout</caption>-->

               <thead class="thead">
                   <tr class="trow">
                   <th class="tcol" ng-repeat="head in datasource.headers" ng-class="{selected12312:index=='{{$index}}'}"  ng-if="head.name">
                   <input type="checkbox" id="whole_sel_checks" class="check-box-input" ng-model="headerCheck.box" ng-disabled="!items.length" ng-change="processAllData(body,head)" ng-if="!datasource.trash"/>
                   <label for="whole_sel_checks" ng-if="$first && !datasource.isCheckboxhide" ng-disabled="!items.length"></label>
                       <div ng-class='{textMove:$first}'>
                            <span ng-click="setSortorder(head, $index)">{{head.name}}
                <span class="fa-lg fa fa-sort-desc" ng-class="{'active':!isSortAsc}" ng-hide="{{head.name == 'actions' || head.name == 'Actions'}}"></span>
                            <span class="fa-lg fa fa-sort-asc" ng-class="{'active':isSortAsc}" ng-hide="{{head.name == 'actions'|| head.name == 'Actions'}}"></span>
                            </span>
                       </div>
                   </th>
                   </tr>
                </thead> 
          <tbody class="tbody" ng-if="!$root.appLoader && items.length == 0">
          <tr><td><p class="no_rcd_fnd">No Records Found!</p></td></tr> 
        </tbody>
                <tbody class="tbody" ng-repeat="body in items track by $index" ng-class-odd="'odd'" ng-class-even="'even'" >
                    <tr class="trow selectrow{{body.id}}" ng-click="!datasource.isrowSelect||assignRow($event,body)" id="row_{{body.id}}" ng-class="{'activeRowTbl1': activeCheckbox}">

                        <td class="tcol" ng-repeat="head in datasource.headers track by $index" ng-init="columnContent={'body':body,'head':head,'items':items}" ng-if="head.name"> 
                            <input type="checkbox" id="one_sel_checks{{body.id}}" class="check-box-input" ng-if="$first && !datasource.isCheckboxhide && !datasource.trash" ng-value="body.id" ng-change="individual_check(body,head)" ng-model="body.row_Checkbox"/>
                            <label for="one_sel_checks{{body.id}}" ng-if="$first && !datasource.isCheckboxhide"></label>

                            <div ng-class="{'columnCont':(head.name != 'Name' || head.name != 'user name'),'primaryColumn':(head.name == 'Name' || head.name == 'user name') }" ng-if="!head.isImageColumn && !head.isActionColumn && !head.isDescColumn && !head.isStatusColumn && !head.isLink"> 
                                <span class="columnSpan" title="{{body[head.bind_val]}}">{{body[head.bind_val]}}</span>
                            </div>
                            <div class="columnCont" ng-if="!head.isImageColumn && !head.isActionColumn && !head.isDescColumn && !head.isStatusColumn && head.isLink"> 
                               <a ng-click="tableDatafnlink($event,body,head.funParameter)" ><span class="columnSpan" title="{{body[head.bind_val]}}">{{body[head.bind_val]}}</span></a>
                            </div>
                            <div ng-if="head.isImageColumn && !head.isActionColumn && !head.isDescColumn && !head.isStatusColumn && !head.isLink">
                                <custom-column controller-name="profilePicController" template-url="dest/templates/profilePic.html" content-body="body" content-head="head" content-items="items"></custom-column>
                            </div>
                            <div ng-if="!head.isImageColumn && head.isActionColumn && !head.isDescColumn && !head.isStatusColumn && !head.isLink">
                                <custom-column controller-name="btnactionsController" alert-baner="alertBaner" setback = "setParentvalues(response)" emitbaner="captureBaner(response)" template-url="dest/templates/btnActions.html" content-body="body" content-head="head" content-items="datasource.data"></custom-column>
                            </div>
                            <div ng-if="!head.isImageColumn && !head.isActionColumn && !head.isDescColumn && head.isStatusColumn && !head.isLink">
                                <custom-column controller-name="btnStatusController" alert-baner="alertBaner" emitbaner="captureBaner(response)" template-url="dest/templates/statusicons.html" content-body="body" content-head="head" content-items="items"></custom-column>
                            </div>
                            <div ng-if="!head.isImageColumn && !head.isActionColumn && head.isDescColumn && !head.isStatusColumn && !head.isLink">
                                <span ng-class='{textMove:$first}'>{{ body[head.bind_val] | trusted }}</span>
                            </div>
                        </td>
                        <!--1-->
                    </tr>
               
                   
                    <tr class="trow childRow rm_padding " ng-init="childContent={'body':body,'tableData':datasource}" ng-class="{'collapse_open': body.showChild || body.viewChild}"  id="child_{{body.id}}"><!--ng-if="body.showChild || body.viewChild" -->
                        <td colspan={{datasource.headers.length}} class="data_view_temp">
                            <div class="rm_bx_bor" selectorElem="row_{{body.id}}" ng-if="body.showChild || body.viewChild">
                                <child-table content-items="datasource" selected-filter-tab="selectedFilterTab" content-body="body" template-url="dest/templates/accordionPanel.html"></child-table>
                           </div>
                        </td>
                    </tr>  
                                    
                </tbody>
           </table>
			<div ng-clock ng-if="paginationdata.total_matched_records">Total Records :({{paginationdata.total_matched_records}}),Page {{paginationdata.currentPage}} of {{datasource.data.length}} 
			</div>			
        <ul uib-pagination boundary-links="true" ng-if="paginationdata.total_matched_records !== 0 && datasource.data.length !== 0" total-items="paginationdata.total_matched_records" ng-model="paginationdata.currentPage" items-per-page="pagination.itemsPerPage.value" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  ng-change="pageChanged()" max-size="5"></ul>
        </div> 
    </div>    
        </div> 
    </div>
    
    
    


